:root {
    --nasa-blue: #15418c;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* font-family: asikue_trialbold; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #26282f;
    color: white;
    margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.picture-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 3px;
    /* min-width: 10em; */
    height: fit-content;
    box-sizing: border-box;
    margin-bottom: 2em;
}

.img-container {
    height: 9rem;
    width: 12rem;
    /* border: 0.1em solid white; */
    /* box-sizing: border-box; */
    position: relative;
}

.sol-input-container label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.sol-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-img {
    height: 9rem;
    width: 12rem;
    object-fit: cover;
    /* border: 1px solid rgb(29, 29, 29); */
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0%;
    transition: 200ms;
}

.grid-img:hover {
    filter: brightness(110%);
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0px 3px;
    box-sizing: border-box;
}

.arrow-right {
    animation: loading 750ms linear infinite alternate;
}

.arrow-left {
    animation: loading 750ms linear infinite alternate;
}

.arrow-top {
    /* height: auto; */
    display: flex;
}

.arrow-top img {
    cursor: pointer;
    /* background-color: lightgrey; */
    /* margin: 3px; */
    box-sizing: border-box;
    min-height: 20px;
    height: 2.2em;
}

.arrow-top:active {
    opacity: 50%;
}

.arrow img {
    /* height: 20px; */
}

.arrow:active {
    background-color: grey;
}

.arrow-img:hover {
    filter: contrast(0);
}

/* .arrow:hover img {
    opacity: 50%;
} */

h1 {
    display: block;
    margin-top: 0;
}

h4 {
    display: block;
    margin-bottom: 0.8em;
    margin-top: 0;
}

.pagenumber-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    /* flex-wrap: wrap; */
    /* max-width: 60%; */
    /* padding-left: 1em; */
    /* padding-right: 1em; */

}

.pagebtn-container {
    flex-grow: 0;
    flex-shrink: 0;
    /* min-width: 50px;
    max-width: 800px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: baseline;
    /* height: 4.6em; */
    /* height: auto; */
    overflow-x: auto;
    /* scrollbar-width: auto; */
    max-width: 20em;
    max-height: 5.2em;
    /* padding-top: 1em; */
    /* z-index: 5; */
    transition: ease-in-out 500ms;
    /* padding-bottom: 0.5em; */
    /* margin-bottom: 5px; */
}

.pagebtn-container::-webkit-scrollbar {
    height: 7px;
    border-radius: 7px;
    /* width: auto; */
    /* background: white; */
    margin-top: 3px;
    animation: loading 1s linear infinite alternate;
}

.pagebtn-container::-webkit-scrollbar-thumb {
    background: var(--nasa-blue)
}


.main {
    display: flex;
    align-self: center;
}

.page {
    display: block;
}


.pagebtn {
    /* padding: 1em; */
    min-height: 2.6em;
    max-height: 2.6em;
    min-width: 2.6em;
    max-width: 2.6em;
    /* max-height: 4em; */
    /* border-radius: 50%; */
    /* min-width: 2.5em; */
    /* max-width: 3em; */
    /* border: 0.15em solid white; */
    border: none;
    background-color: #4c4d53;
    background: rgb(76, 77, 83);
    background: linear-gradient(0deg, rgba(76, 77, 83, 0.15364617526698177) 0%, rgba(76, 77, 83, 0.7026657831101191) 15%, rgba(76, 77, 83, 1) 35%, rgba(76, 77, 83, 1) 70%, rgba(76, 77, 83, 0.6970635422137605) 85%, rgba(76, 77, 83, 0.14804393437062324) 100%);

    color: white;
    text-align: center;
    cursor: pointer;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
    box-sizing: border-box;
    user-select: none;
    font-family: segoe UI;
    font-size: 0.65em;
    text-align: center;
    font-weight: bold;
    /* z-index: 100; */

}

.submit-btn {
    background-color: grey;
    color: white;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    margin: 0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}

.rovers {
    width: 10rem;
    align-self: center;
    margin: 0.6rem;
    padding: 0.5rem;
    border: 5px solid var(--nasa-blue);
    border-radius: 1em;
    background-color: #3d3d3d;
    color: white;
}

.solbtn {
    min-height: 2.7em;
    max-height: 4em;
    border-radius: 50%;
    min-width: 2.7em;
    max-width: 2.5em;
    /* max-width: 3em; */
    background-color: grey;
    color: white;
    font-size: 0.6rem;
    text-align: center;
    cursor: pointer;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
    box-sizing: border-box;
    user-select: none;
    align-self: center;
    border: 2px solid white;
}

@media (hover: hover) {
    .solbtn:hover {
        background-color: lightgray;
    }
}

.sol-date-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 20em;
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (hover: hover) {
    .submit-btn:hover {
        background-color: lightgrey;
    }
}

.submit-btn:active {
    background-color: darkgray;
}

@media (hover: hover) {
    .pagebtn:hover {
        background-color: lightgray;
    }
}

.pagebtn:active {
    background-color: darkgray;
}


.current-page {
    /* background-color: var(--nasa-blue); */
    border: 1px solid white;
}

#sol-date {
    width: 10rem;
    align-self: center;
    margin: 0.6rem;
    padding: 0.5rem;
    border: 5px solid var(--nasa-blue);
    border-radius: 1em;
    background-color: #3d3d3d;
    color: white;
}

/* ::placeholder {
    color: white;
    opacity: 1; 
 } */

.no-imgs {
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0.3em;
}

.hidden {
    display: none;
}

.height-auto {
    height: auto;
}

.loading-btn {
    animation: loading 750ms linear infinite alternate;
    z-index: 999;
    /* border-radius: 50%; */
    box-sizing: border-box;
    height: 1.7em;
    width: 1.7em;
    margin: 3px;
}

.loading-img {
    height: 9rem;
    min-width: 12rem;
    box-sizing: border-box;
    position: relative;
    animation: loading 750ms linear infinite alternate;
}

.loading-sol {
    width: 75%;
    height: 70px;
    animation: loading 750ms linear infinite alternate;
    margin: 5px;
    justify-self: center;
    align-self: center;
}


.loading-input {
    width: 75%;
    height: 40px;
    animation: loading 750ms linear infinite alternate;
    margin: 5px;
    justify-self: center;
    align-self: center;
}

.loading-input:nth-child(2n) {
    width: 30%;
    height: 30px;
}

.loading-arrow {
    height: 1000px;
    width: 50px;
    animation: loading 750ms infinite;
}

.loading-top-arrow {
    animation: loading 750ms linear infinite alternate;
}

.loading-rover {
    width: 25%;
    animation: loading 750ms linear infinite alternate;
    height: 60px;
    align-self: center;
}

@keyframes loading {
    0% {
        background-color: hsla(120, 1%, 29%, 0.24);
    }

    100% {
        background-color: hsla(190, 4%, 50%, 0.411);
    }
}

.hide-pagebtn-scroll {
    background-color: blue;
    z-index: 2;
    width: 200px;
    height: 100px;
    /* margin-left: auto; */
    flex-grow: 0.3;
}

.earth-date {
    width: 10rem;
    align-self: center;
    margin: 0.6rem;
    padding: 0.5rem;
    border: 5px solid var(--nasa-blue);
    border-radius: 1em;
    background-color: #3d3d3d;
    color: white;
}


.date-switch-btn {
    background-color: grey;
    color: white;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    margin: 0.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    width: 100px;
    align-self: center;
    cursor: pointer;
}

@media (hover: hover) {
    .date-switch-btn:hover {
        background-color: lightgrey;
        /* color: grey; */
    }
}

.menu-container {
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.arrow-up {
    height: 1.5em;
    margin: 0;
    transform-origin: center center;
    transition: 100ms;
}

.hide-container {
    align-self: end;
    margin-left: auto;
    margin-right: 1em;
    margin-bottom: 0.5;
    flex-grow: 1;
    cursor: pointer;
    font-size: 0.8em;
    display: inline-block;
    opacity: 75%;
}

@media (hover: hover) {
    .hide-container:hover {
        opacity: 100%;
    }
}

/* ------------------media queries ---------------*/

@media screen and (max-width:576px) {

    .main {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .picture-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0 3px;
    }

    .pagenumber-container {
        max-width: auto;
        margin-left: auto;

    }

    .pagebtn-container {
        overflow-x: scroll;
        overflow-y: hidden;
        transition: ease-in-out 500ms;
        min-width: auto;
        max-width: 16.5em;
        /* min-width: 3em; */
        /* max-height: 2.5em; */
        align-self: center;
        display: flex;
        flex-wrap: none;
        justify-content: baseline;
        touch-action: pan-x;
        scrollbar-width: auto;
        /* margin-bottom: 0.5em; */
        align-items: center;
    }

    */ .pagebtn-container::-webkit-scrollbar {
        /* height: 7px; */
        /* width: auto; */


    }

    .pagebtn-container::-webkit-scrollbar-thumb {
        /* background: var(--nasa-blue); */
        display: none;
    }


    .pagebtn {
        min-height: 2.2em;
        min-width: 2.2em;
        /* font-size: 0.6em; */
        transition: 250ms;

    }

    .current-page {
        /* max-height: 2.6em;
        min-height: 2.6em; */
        min-width: 2.6em;
        max-width: 2.6em;
        transition: 250ms;
        border: 1px solid white;

    }

    .height-auto {
        height: auto;
    }

    .img-container {
        width: 100%;
        height: 10em;
    }

    .grid-img {
        width: 100%;
        height: 10em;
    }

    .loading-img {
        min-width: 100%;
        height: 10em;
    }

    .arrow-right {
        position: sticky;
        /* align-self: baseline; */
        top: 0%;
        right: 0;
        height: 100dvh;
        background-color: var(--nasa-blue);
        width: 3.5em;
    }

    .arrow-left {
        position: sticky;
        /* align-self: baseline; */
        top: 0%;
        left: 0;
        height: 100dvh;
        background-color: var(--nasa-blue);
        width: 3.5em;
    }


    .arrow img {
        height: 3em;
    }


    .arrow-top {
        height: 3em;
    }

    .arrow-top img {
        height: 100%;
    }

    .arrow-left {
        /* position: sticky; */
        left: -30%;
    }

    .pagebtn {
        width: 3.4em;
        height: 3.4em;
    }

    .hidden {
        display: none;
    }

    /* .loading-img {
        width: 100%;
        height: 10em;
    } */

    .page-nav-text {
        display: none;
    }
}

@media screen and (min-width:576px) and (max-width:900px) {

    .main {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .picture-grid {
        display: -ms-inline-grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3px;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
    }

    .img-container:last-child:nth-child(3n -2) {
        grid-column-end: 3;
    }


    .pagebtn-container {
        overflow-x: scroll;
        overflow-y: hidden;
        transition: 200ms;
        min-width: auto;
        max-width: 20em;
        /* min-width: 3em; */
        /* max-height: 2.5em; */
        align-self: center;
        display: flex;
        flex-wrap: none;
        justify-content: baseline;
        touch-action: pan-x;
        scrollbar-width: auto;
        /* margin-bottom: 0.5em; */
        align-items: center;
    }

    .pagebtn {
        min-height: 2.2em;
        min-width: 2.2em;
        /* font-size: 0.6em; */
        transition: 250ms;
    }

    .current-page {
        /* max-height: 2.6em;
        min-height: 2.6em;
        min-width: 2.6em;
        max-width: 2.6em; */
        transition: 250ms;
    }

    .img-container {
        width: 100%;
        height: 10em;
    }

    .grid-img {
        width: 100%;
        height: 10em;
    }

    .loading-img {
        min-width: 100%;
        height: 10em;
    }

    /* .pagebtn {
        min-width: 2.6em;
        min-height: 2.6em;
    } */

    .arrow-right {
        position: sticky;
        /* align-self: baseline; */
        top: 0%;
        right: 0;
        height: 100dvh;
        background-color: var(--nasa-blue);
        width: 5em;
    }

    .arrow-left {
        position: sticky;
        /* align-self: baseline; */
        top: 0%;
        left: 0;
        height: 100dvh;
        background-color: var(--nasa-blue);
        width: 5em;
    }

    .arrow img {
        height: 3em;
    }


    .hidden {
        display: none;
    }

}

@media screen and (min-width:901px) and (max-width: 1279px) {

    .main {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .picture-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3px;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
    }

    .img-container {
        width: 100%;
        height: 10em;
    }

    .arrow img {
        height: 3em;
    }


    .grid-img {
        width: 100%;
        height: 10em;
    }

    .pagebtn-container {
        overflow-x: scroll;
        overflow-y: hidden;
        transition: 200ms;
        min-width: auto;
        max-width: 24em;
        /* min-width: 3em; */
        /* max-height: 2.5em; */
        align-self: center;
        display: flex;
        flex-wrap: none;
        justify-content: baseline;
        touch-action: pan-x;
        scrollbar-width: auto;
        /* margin-bottom: 0.5em; */
        align-items: center;
    }

    .pagebtn {
        min-height: 2.2em;
        min-width: 2.2em;
        /* font-size: 0.6em; */
        transition: 250ms;
    }

    .current-page {
        /* max-height: 2.6em;
        min-height: 2.6em;
        min-width: 2.6em;
        max-width: 2.6em; */
        transition: 250ms;
    }

    .loading-img {
        min-width: 100%;
        height: 10em;
    }

    .hidden {
        display: none;
    }

    .arrow {
        background-color: var(--nasa-blue);
    }
}

@media screen and (min-width:1280px) {

    .main {
        position: relative;
        /* min-width: 80%; */
        width: 100%;
        /* height: 100%; */
        display: flex;
        justify-content: center;
    }

    .picture-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 3px;
        width: 100%;
        height: fit-content;
        box-sizing: border-box;
    }

    .img-container {
        width: 100%;
        height: 10em;
    }

    .grid-img {
        width: 100%;
        height: 10em;
    }

    .pagebtn-container {
        overflow-x: scroll;
        overflow-y: hidden;
        transition: 200ms;
        min-width: auto;
        max-width: 27.4em;
        /* min-width: 3em; */
        /* max-height: 2.5em; */
        align-self: center;
        display: flex;
        flex-wrap: none;
        justify-content: baseline;
        touch-action: pan-x;
        scrollbar-width: auto;
        /* margin-bottom: 0.5em; */
        align-items: center;
        height: fit-content;
    }

    .loading-img {
        min-width: 100%;
        height: 10em;
    }

    .hidden {
        display: none;
    }

    .pagebtn {
        min-height: 2.2em;
        min-width: 2.2em;
        /* font-size: 0.6em; */
        transition: 250ms;
    }

    .current-page {
        /* max-height: 2.4em; */
        /* min-height: 2.4em; */
        /* min-width: 3.2em;
        max-width: 3.2em; */
        transition: 250ms;
        border-radius: 10%;
    }

    .pagebtn-container {
        /* height: 4.9em; */
    }

    .arrow {
        background-color: var(--nasa-blue);
    }

    .arrow img {
        height: 3em;
    }

    .loading-sol {
        width: 400px;
        height: 130px;
        animation: loading 750ms linear infinite alternate;
        margin: 5px;
        justify-self: center;
        align-self: center;
    }


    .loading-input {
        width: 34%;
        height: 40px;
        animation: loading 750ms linear infinite alternate;
        margin: 5px;
        justify-self: center;
        align-self: center;
    }

    .loading-input:nth-child(2n) {
        width: 20%;
        height: 30px;
    }

    .loading-input:nth-child(3) {
        width: 10%;
        height: 20px;
    }

    .loading-input:nth-child(4n) {
        display: none;
    }

    .loading-arrow {
        height: 1000px;
        width: 50px;
        animation: loading 750ms infinite;
    }

    .loading-top-arrow {
        animation: loading 750ms linear infinite alternate;
    }
}

@media (prefers-color-scheme: dark) {
    .rovers {
        border-color: var(--nasa-blue)
    }

    .arrow img {
        filter: invert();
    }

}